In [1]:
people = {
    "first": ["Corey", 'Jane', 'John'],
    "last": ["Schafer", 'Doe', 'Doe'],
    "email": ["CoreMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [2]:
import pandas as pd

In [3]:
df=pd.DataFrame(people)

In [4]:
df

   first     last                   email
0  Corey  Schafer  CoreMSchafer@gmail.com
1   Jane      Doe       JaneDoe@email.com
2   John      Doe       JohnDoe@email.com

In [5]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [6]:
df.columns=['first_name', 'last_name', 'email']

In [7]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [8]:
df

  first_name last_name                   email
0      Corey   Schafer  CoreMSchafer@gmail.com
1       Jane       Doe       JaneDoe@email.com
2       John       Doe       JohnDoe@email.com

In [15]:
df.columns = [x.lower() for x in df.columns]
df

  first_name last_name                   email
0      Corey   Schafer  CoreMSchafer@gmail.com
1       Jane       Doe       JaneDoe@email.com
2       John       Doe       JohnDoe@email.com

In [20]:
df.rename(columns={'first_name':'first', 'last_name':'last'}, inplace=True)
df

   first     last                   email
0  Corey  Schafer  CoreMSchafer@gmail.com
1   Jane      Doe       JaneDoe@email.com
2   John      Doe       JohnDoe@email.com

In [27]:
df.loc[2, ['last', 'email']] = ['Doe', 'JohnDoe@email.com']
df

   first     last                   email
0  Corey  Schafer  CoreMSchafer@gmail.com
1   Jane      Doe       JaneDoe@email.com
2   John      Doe       JohnDoe@email.com

In [31]:
df['email']=df['email'].str.lower()
df

   first     last                   email
0  Corey  Schafer  coremschafer@gmail.com
1   Jane      Doe       janedoe@email.com
2   John      Doe       johndoe@email.com

In [32]:
def update_email(email):
    return email.upper()

In [36]:
df['email']=df['email'].apply(update_email)

In [55]:
df

  first     last                   email
0   NaN  Schafer  coremschafer@gmail.com
1   NaN      Doe       janedoe@email.com
2   NaN      Doe       johndoe@email.com

In [56]:
df['email']=df['email'].apply(lambda x: x.lower())

In [39]:
df

   first     last                   email
0  Corey  Schafer  coremschafer@gmail.com
1   Jane      Doe       janedoe@email.com
2   John      Doe       johndoe@email.com

In [57]:
df.applymap(len)

TypeError: object of type 'float' has no len()

In [52]:
df['first'].map({'Corey':'Chris', 'Jane':'Mary'})

0    NaN
1    NaN
2    NaN
Name: first, dtype: object

In [58]:
df['first'].replace({'Corey':'Chris', 'Jane':'Mary'})

0   NaN
1   NaN
2   NaN
Name: first, dtype: float64